@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@300&display=swap');

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    font-family: "Courgette", Roboto Slab, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

nav, a {
    text-decoration: none;
    background-color: #6e633d;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.info-link {
    font-size: small;
}

#hero-msg {
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

h1, h4 {
    text-align: center;
}

.button-box, main section {
    text-align: center;
}

body {
    font-family: Roboto Slab, Halvetica, sans-serif;
    background-color: #f1f5f2;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #6e633d;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #355834;
    color: #f1f5f2;
}

.book, .join {
    background-color: #f1f5f2;
    color:#14281d;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #355834;
    color: #f1f5f2;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

#background {
    background-color: #14281d;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg {
    background-color: #355834;
    color: #f1f5f2;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg p {
    padding-bottom: 15px;
}

.rivers-page {
    text-align: center;
}

.sub-title {
    margin: auto;
    font-display: bold;
}

.salmon, .gray, .grand {
    padding: 50px;
}

.river-name, .p {
    line-height: 1.5em;
    padding: 35px;
}

.salmon-img, .gray-img, .grand-img {
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: #6e633d;
    color: #f1f5f2;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color:#f1f5f2;
    padding: 20px;
}

footer a:hover {
    background-color: #f1f5f2;
    color: #14281d;
}

.icon {
    width: 80px;
    padding-top: 10px
}

@media screen and (max-width: 900px) {
    #hero, .home-grid{
        display: block;
        height: auto;
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}